.board {
  box-sizing: border-box;
}

.results {
  display: flex;
  flex-direction: column-reverse;
}

.result {
  flex: 0 0 auto;
}

.won {
  background: #0F0;
}

.side {
  width: 50%;
  float: left;
}

.button {
  display: block;
  width: 100%;
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}

.player-title {
  text-align: center;
}
